<div class="row">
  <div class="col-sm-7 col-sm-offset-3 phototitle sign_in_title">
    <h1>Add a Photo <small> ...and never forget that special moment</small></h1>

    <% if @photo.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% @photo.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>

    <div class="sign_up_form form-group">
      <%= form_for (@photo), url: create_photo_path(@photo) do |f| %>
        <div class="">
          <%= f.label :title, "Give a title to your Photo" %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Ex: Golfing in Vietnam"  %>
        </div>
        <div class="">
          <%= f.label :location, "Where did you take this Photo?"%>
          <%= f.text_field :location, class: 'form-control', placeholder: "Ex: '99 N. Post Oak Ln, Houston, TX 77024, USA', 'New York, NY', etc. " %>
        </div>

        <div class="">
          <%= f.label :vacation_id, "Which vacation were you on?" %>
          <%= f.collection_select :vacation_id, @current_user.vacations, :id, :name, prompt: true %>
        </div>
        <div class="">
          <%= f.label :photofile, "Ready! Upload here and press 'Add Photo'" %>
          <%= f.attachment_field :photofile%>
        </div>

        <div class="">
          <%= f.submit "Add Photo", class: "btn btn-warning" %>
          or
          <%= link_to 'Cancel', :back %>
        </div>
      <% end %>
    </div>
  </div>
</div>
